@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@400..700&family=Reem+Kufi+Ink&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .timeline-img {
    @apply h-24 w-24 object-cover rounded-full shadow-md border-4 border-secondary-dark dark:border-secondary-light xs:absolute md:mx-auto md:left-0 md:right-0;
    @apply lg:h-48 lg:w-48;
  }
  .timeline-container {
    @apply relative pt-2 xs:pl-28 xs:pt-0 md:w-1/2 md:ml-auto md:pl-16;
    @apply lg:pt-4 lg:pl-32;
  }
  .timeline-container-left {
    @apply md:ml-0 md:mr-auto md:pl-0 md:pr-16;
    @apply lg:pr-32;
  }
  .timeline-pointer {
    @apply absolute inset-0 left-10 h-4 w-4 transform rotate-45 bg-secondary-dark dark:bg-secondary-light xs:top-11 xs:left-28 md:left-14;
    @apply lg:left-28 lg:h-8 lg:w-8 lg:top-24;
  }
  .timeline-pointer-left {
    @apply md:left-auto md:right-14;
    @apply lg:right-28;
  }
}

.dark body {
  background-color: theme(colors.background.dark);
}

body {
  background-color: theme(colors.background.light);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  /*max-width: 1280px;*/
  margin: 0 auto;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.disable-transition {
  transition: none !important;
}

.dark .nav-link::after {
  background-color: theme(colors.accent.dark)!important;
}

.nav-link::after {
  content: '';
  display: block;
  background-color: theme(colors.accent.light);
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transition: transform .3s ease;
}

.active .nav-link::after {
  transform: scaleX(1);
}

.constrained-container {
  max-width: 1280px;
  margin: 0 auto;
}

.underline-accent {
  text-decoration: underline;
  text-decoration-color: theme(colors.accent.light)
}

.underline-accent-dark {
  text-decoration: underline;
  text-decoration-color: theme(colors.accent.dark)
}